<!---side bar navigation----->
<div class="container-fluid">
  <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                  <span class="fs-5 d-none d-sm-inline">Menu</span>
              </a>
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item">
                      <a  routerLink="list" class="nav-link align-middle px-0" >
                          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">all</span>
                      </a>

                  </li>
                  <li class="nav-item">
                    <a  routerLink="new" class="nav-link align-middle px-0" >
                        <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">add Product</span>
                    </a>
                </li>
                  <li>
                      <span href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">
                            <b>category</b></span> </span>
                      <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                          <li class="w-100">
                              <a  [routerLink]="['category','women']" class="nav-link px-0">
                                <span class="d-none d-sm-inline">
                                  Women</span>
                                </a>
                          </li>
                          <li>
                              <a class="nav-link px-0" [routerLink]="['category','men']">
                                <span class="d-none d-sm-inline">
                                  Men
                                </span></a>
                          </li>
                          <li>
                            <a  class="nav-link px-0" [routerLink]="['category','kids']"> <span class="d-none d-sm-inline">kids</span> </a>
                        </li>
                      </ul>
                  </li>
                  <li>
                      <a href="#" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                  </li>
                  <li>
                      <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                          <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Best Seller</span></a>

                  </li>

                  <li>
                      <a href="#" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Out of stock</span> </a>
                  </li>
              </ul>

          </div>
      </div>
      <div class="col py-3">
        <div class="container">
         <router-outlet></router-outlet>
        </div>
      </div>
  </div>
</div>


