<h1>{{title}}</h1>
<div class="row">
  <div class="col-md-3" *ngFor="let product of list">
    <div class="card" style="width: 18rem;">
      <img src="{{product.picture}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">
          description: {{product.description}}
          <br>
          price:{{product.price}}$
        </p>
        <button class="btn btn-sm btn-primary" >
          like{{product.nbrLike}}
        </button>
      </div>
    </div>
  </div>
</div>
